.imgTitle {
    padding: 2%;
}

.imgTitle a{
    display: grid;
    color: #223542;
    font-weight: 500;
}

.imgTitle a:hover{
    display: grid;
    color: #096aaa;
    font-weight: 500;
}

.docImg {
    width: 35%;
}

.titleText h5{
    font-style: normal;
    font-weight: 400;
    font-size: 24pt;
    line-height: 46px;
    color: #223542;
}

.titleText h1{
    font-style: normal;
    font-weight: 700;
    font-size: 48pt;
    line-height: 78px;
    color: #223542;
    margin-top: -2%;
}

.titleText p{
    font-style: normal;
    font-weight: 400;
    font-size: 14pt;
    line-height: 29px;
    color: #223542;

}

.purpose{
    margin-top: 3%;
}

.purpose img {
    width: 76%;
    box-shadow: 0px 15px 25px rgb(73, 73, 73);
}

.purpose h1 {
    font-style: normal;
    padding-left: 10%;
    font-weight: 700;
    font-size: 20pt;
    line-height: 46px;
    text-transform: uppercase;
    color: #223542;
}

.purpose p {
    margin-top: 20px;
    padding-left: 10%;
    padding: 0px 40px 10px 0px;
    font-style: normal;
    font-weight: 400;
    font-size: 14pt;
    line-height: 29px;
    
}

.tasks {
    margin-top: 3%;
    font-style: normal;
    font-weight: 400;
    font-size: 14pt;
    line-height: 29px;
}

.tasks img {
    width: 76%;
    margin-left: 10%;
    box-shadow: 0px 15px 25px rgb(73, 73, 73);
}

.tasks h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 20pt;
    line-height: 46px;
    text-transform: uppercase;
    color: #223542;
}

.tasks ul {
    margin-top: 20px;
    padding-right: 10%;
}

.organization {
    margin-top: 3%;
    padding-left: 10%;
    padding-right: 10%;
    font-style: normal;
    font-weight: 400;
    font-size: 14pt;
    line-height: 29px;
}

.organization h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 20pt;
    line-height: 46px;
    text-transform: uppercase;
    color: #223542;
}

.organization p {
    font-style: normal;
    font-weight: 400;
    font-size: 14pt;
    line-height: 29px;
}